.orange {
    background-color: #FF5A0B;
}

.blue {
    background-color: #0079D9;
}

.purple {
    background-color: #5F3494;
}

.pink {
    background-color: #FB5794;
}

.yellow {
    background-color: #EEAF00;
}

.red {
    background-color: #FE270B;
}

.green {
    background-color: #01A769;
}

.maroon {
    background-color: #4F1C02;
}
